.footer-bar-v2 {

  p {
    margin-bottom: 0;
  }

  .craft-link {
    color: var(--bs-success-text-emphasis);
    text-decoration: none;
    transition: color 0.3s ease, transform 0.3s ease;
  }
  
  .craft-link:hover {
    color: var(--bs-success);
  }

}