.reviews {

  .review-card {
    overflow-x: hidden;
    height: 100%;

    .card-pic-wrapper {
      width: 100%;
      height: 8rem;
      background-color: #FEC971;
      // background: linear-gradient(135deg, #FEF5CB, #46AFB9);
      // background: linear-gradient(135deg, #FEC971, #4755CB);
      position: relative;
      margin-bottom: 2.5rem;

      .avatar {
        width: 4rem;
        height: 4rem;
        background-color: #007bff;
        color: white;
        border-radius: 50%;
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 1.5rem;

        position: absolute;
        bottom: -2rem;
        left: 50%;
        transform: translateX(-50%);
      }

    }

  }
  
}