.services {

  .col:nth-child(3n+1) {
    .service-card {
      background-image: url('/images/card-back-1.jpg');
    }
  }
  .col:nth-child(3n+2) {
    .service-card {
      background-image: url('/images/card-back-2.jpg');
    }
  }
  .col:nth-child(3n+3) {
    .service-card {
      background-image: url('/images/card-back-3.jpg');
    }
  }

  .service-card {
    min-height: 20rem;
    background-color: aliceblue;
    position: relative;
    overflow: hidden;
    background-size: cover;
    background-position: center;

    /* Adding a semi-transparent overlay to make text readable */
    &::before {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background-color: rgba(255, 255, 255, 0.9);
      z-index: 1;
    }

    /* Ensure the text and icon are above the overlay */
    .card-body {
      position: relative;
      z-index: 2;
    }
  }

}