.swiper-con {

  .swiper {
    width: 100%;
    height: 100%;

    .swiper-wrapper {

      .swiper-slide {
        background-position: center;
        background-size: cover;

        height: calc(100svh - var(--navigation-bar-height));
        width: 100%;
        overflow: hidden;
        position: relative;

        .slide-text {
          position: absolute;
          top: 10%;
          left: 10%;
          transform: translate(0%, 0%);
          color: white;
          background-color: rgba(0, 0, 0, 0.6);
          padding: 1rem;
          border-radius: 0.5rem;
        }

      }

    }
  }
  
}