@import "bootstrap/scss/functions";
@import "bootstrap/scss/variables";
@import 'bootstrap/scss/bootstrap';
@import 'bootstrap-icons/font/bootstrap-icons';

:root {
  --navigation-bar-min-height: 4.0rem;
  --navigation-bar-max-height: 5.5rem;
  --navigation-bar-height: var(--navigation-bar-max-height);
  --footer-bar-height: 8rem;
}

html, body {
  max-width: 100vw;
  overflow-x: hidden;
  scroll-behavior: smooth;
  scroll-padding-top: var(--navigation-bar-height);
}

.app {
  padding-top: var(--navigation-bar-height);
  position: relative;
  min-height: 100svh;
  overflow: auto;

  .text-justify {
    text-align: justify;
  }

}